body {
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --popup-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --primary-color-light-popup: #695CFE;
  --primary-text-light-popup: #FFF;
  --toggle-color: #DDD;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  
  background: var(--popup-color);
  color: var(--text-color);
    
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body.dark {
  --body-color: #18191a;
  --popup-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --primary-color-light-popup: #4D4F51;
  --primary-text-light-popup: #ccc;
  --toggle-color: #fff;
  --text-color: #ccc;
}
body > *{
  margin: 0 0px 8px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.separator {
    height: 1px;
    background-color: var(--toggle-color);
    opacity: 0.5;
    margin: 0px;
}
.right_fade {
    width: 3em;
    position: absolute;
    height: 100%;
    right: 0;
    background: linear-gradient(to left, var(--primary-color-light) 20%, transparent 100%);
}

div.title_area {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  border-radius: 5px;
  padding: 8px;
  
  /* max-height: 35%; */
  flex-grow: 0;
  flex-shrink: 35;
}
p.title_name {
  margin: 0 8px 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

div.suggestion_area {
  /* height: 35px;*/
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  
  flex-grow: 0;
  flex-basis: 35px;
  flex-shrink: 0;
}
div.suggestion_area .suggestion_container{
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
div.suggestion_area button {
  margin-right: 8px;
  white-space: nowrap;
  
  background-color: var(--primary-color-light);
  height: 100%;
  border-radius: 5px;
  /* padding: 8px; */
  border: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 35px;
}
div.suggestion_area button:hover {
    background-color: var(--primary-color-light-popup);
}
div.suggestion_area button.keyword_suggestion {
    padding: 0 8px;
}

div.keyword_area {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  border-radius: 5px;
  padding: 8px;
  /* max-height: calc(65% - 67px); */
  
  flex-grow: 1;
  flex-shrink: 65;
  overflow: hidden;
}

div.windos_message_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
}
div.windos_message_header .title_boder {
    width: 100%;
    display: flex;
    justify-content: space-between;
	overflow: hidden;
	position: relative;
}
div.windos_message_header span#url_note_host{
  font-size: 20px;
  font-weight: 600;
  text-wrap: nowrap;
  overflow: hidden;
  height: 25px;
}
div.windos_message_header span#keyword_note_host{
  font-size: 28px;
  font-weight: 600;
  text-wrap: nowrap;
  overflow: hidden;
} 

div.windos_message_header .control_keyword_area,
div.windos_message_header .control_url_area{
  display: flex;
}
div.windos_message_header .control_keyword_area button,
div.windos_message_header .control_url_area button{
  border-radius: 15px;
  height: 30px;
  width: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color-popup);
  color: var(--text-color);
    
  margin-right: 8px;
  padding-top: 4px;
}
div.windos_message_header .control_keyword_area button:last-child,
div.windos_message_header .control_url_area button:last-child{
  margin-right: 0;
}
div.windos_message_header .control_keyword_area button:hover,
div.windos_message_header .control_url_area button:hover{
  background: var(--primary-color-light-popup);
  color: var(--primary-text-light-popup);
}

.windos_message_content .table table {
    border: 1px double #b3b3b3;
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    width: 100%;
}
.windos_message_content .table table td,
.windos_message_content .table table th {
    border: 1px solid #bfbfbf;
    min-width: 2em;
    padding: .4em;
}

div.windos_message_container {
  overflow: auto;
  overflow-x: hidden;
}
div.windos_message_container::-webkit-scrollbar{
	display: none;
}
div#url_note_block {
  height: calc(100% - 34.8px);
}
div#keyword_note_block {
  height: calc(100% - 61px);
}

div.interactive_block {
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;
}
div.windos_message_block {
    margin: 0 8px;
    border-bottom: 1px solid #e3e3e3;
	position: relative;
}
div.windos_message_box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
    padding: 8px;
    transition: var(--tran-05);
    list-style-position: inside;
}
div.windos_message_content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
    padding: 8px;
    list-style-position: inside;
	font-size: 15px;
	position: relative;
}
div.windos_message_content img{
    max-width: 100%;
    height: auto;
}
div.windos_message_content ol {
  padding-inline-start: 0;
}
div.windos_timestamp_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 8px 8px;
}
div.windos_message_timestamp {
  text-align: left;
  float: left;
  font-size: 12px;
  line-height: 12px;
  color: var(--text-color);
}

div.windos_message_block button.pinned_note{
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  translate: -2px 10px;
  cursor: pointer;
  z-index: 1000;
  
  background: var(--primary-color-light-popup);
  color: var(--text-color);
  opacity: 0;
}
div.windos_message_block button.pinned_note.is_pinned{
  color: yellow;
  background: orange;
  
  opacity: 0.4;
}
div.windos_message_block:hover button.pinned_note{
  opacity: 0.4;
}
div.windos_message_block:hover button.pinned_note.is_pinned{
  opacity: 1;
}
div.windos_message_block button.pinned_note:hover {
  background: var(--primary-color-light-popup);
  color: var(--text-color);
  
  opacity: 1;
}
div.windos_message_block button.pinned_note.is_pinned:hover {
  background: #c28b28;
  color: #c0c000;
}

div.windos_message_block button.more_options{
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  translate: 5px 12px;
  cursor: pointer;
  z-index: 1000;

  color: var(--text-color);
  opacity: 0;
}
div.windos_message_block:hover button.more_options{
  opacity: 0.7;
}
div.windos_message_block button.more_options:hover{
  color: var(--primary-text-light-popup);
  opacity: 1;
}

div.windos_content_editor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
    padding: 8px;
    list-style-position: inside;
	font-size: 15px;
	min-height: 80px;
	margin-bottom: 10px;
}
div.windos_content_editor::-webkit-scrollbar{
	display: none;
}
div.windos_content_editor ol {
  padding-inline-start: 0;
}
div.interactive_block.edit{
	justify-content: flex-end
}

div.levitate_options_popup {
  width: 150px;
  background-color: var(--primary-color-light);
  border-radius: 5px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 0px 10px;
  top: -500px;
  left: -500px;
  z-index: 4000;
  
  display: flex;
  
  flex-direction: column;
  padding: 5px 0;
  opacity: 0;
}
div.levitate_options_popup.popup_show {
  opacity: 1;
  
  transition: opacity 0.4s ease-in-out;
}
div.levitate_options_popup button{
  display: flex;
  align-items: center;
  text-decoration: none;
  border: none;
  margin-bottom: 5px;
  color: var(--text-color);
  
  list-style: none;
  background-color: transparent;
  padding: 5px 0;
}
div.levitate_options_popup button:last-child{
  margin-bottom: 0;
}
div.levitate_options_popup button:hover{
  background-color: var(--primary-color-light-popup);
}
div.levitate_options_popup button .button-text {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}
div.levitate_options_popup button .svg_icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
	width: 50px;
}

div.levitate_suggestion_popup {
	position: absolute;
	top: -1500px;
	left: -1500px;
	border-radius: 5px;
	background-color: var(--primary-color-light);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 8px;
	z-index: 3500;
	padding: 8px;
	max-height: calc(63vh - 67px);
	display: flex;
	
	opacity: 0;
}
div.levitate_suggestion_popup .levitate_suggestion_contaner{
	position: relative;
	width: 100%;
}
div.levitate_suggestion_popup.popup_show {
	width: calc(100vw - 24px);
	opacity: 1;
	/* top: 200px; */
    left: 12px;
	  
	transition: opacity 0.4s ease-in-out;
}
div.levitate_suggestion_popup .popup_suggestion_container{
	overflow: auto;
	overflow-x: hidden;
	/*height: calc(100% - 40px);*/
	
	position: relative;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	
	margin-top: 10px;
}
div.levitate_suggestion_popup .popup_suggestion_container::-webkit-scrollbar{
	display: none;
}
div.levitate_suggestion_popup .popup_suggestion_container button {
  margin-right: 8px;
  white-space: nowrap;
  
  background-color: var(--primary-color-light);
  height: 100%;
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 35px;
}
div.levitate_suggestion_popup .popup_suggestion_container button:hover {
    background-color: var(--primary-color-light-popup);
}
div.levitate_suggestion_popup .popup_suggestion_container button.keyword_suggestion {
    padding: 0 8px;
}
div.levitate_suggestion_popup .suggestion_search_box{
	height: 40px;
	list-style: none;
	display: flex;
	align-items: center;
	border-radius: 6px;
	background-color: var(--primary-color-light-popup);
}
div.levitate_suggestion_popup .suggestion_search_icon{
	min-width: 40px;
	border-radius: 6px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
div.levitate_suggestion_popup .suggestion_search_box form{
	width: 100%;
	margin-right: 18px;
}
div.levitate_suggestion_popup .suggestion_search_box input{
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--text-color);
	font-size: 14px;
	font-weight: 500;
	margin: 5px 0px;
}

.ck-editor__editable .ck-list-bogus-paragraph {
	display: unset !important;
}
.ck-editor__editable.ck-content .todo-list .todo-list__label>span[contenteditable=false]>input {
	margin-left: 25px !important;
	background: var(--popup-color);
}
ul.todo-list {
    list-style-position: outside;
    overflow: hidden;
}
ul.todo-list input[type="checkbox"] {
    margin-right: 5px;
}
img.image_resized {
    width: auto;
    height: auto;
}
figcaption {
	font-size: .75em;
    text-align: center;
}
code {
    font-family: courier, monospace;
}
.windos_message_content:not(.ck) pre:has(code){
    background: hsla(0, 0%, 78%, .3);
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    color: #353535;
    direction: ltr;
    font-style: normal;
    min-width: 200px;
    padding: 1em;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    position: relative;
}
.windos_message_content:not(.ck) pre:has(code):after {
    background: var(--ck-color-code-block-label-background);
    color: #fff;
    font-family: var(--ck-font-face);
    font-size: 10px;
    line-height: 16px;
    padding: var(--ck-spacing-tiny) var(--ck-spacing-medium);
    right: 10px;
    top: -1px;
    white-space: nowrap;
    position: absolute;
}

.windos_message_content:not(.ck) pre:has(code.language-c):after {
    content:"C";
}
.windos_message_content:not(.ck) pre:has(code.language-cs):after {
    content:"C#";
}
.windos_message_content:not(.ck) pre:has(code.language-cpp):after {
    content:"C++";
}
.windos_message_content:not(.ck) pre:has(code.language-cs):after {
    content:"C#";
}
.windos_message_content:not(.ck) pre:has(code.language-diff):after {
    content:"Diff";
}
.windos_message_content:not(.ck) pre:has(code.language-java):after {
    content:"Java";
}
.windos_message_content:not(.ck) pre:has(code.language-javascript):after {
    content:"JavaScript";
}
.windos_message_content:not(.ck) pre:has(code.language-php):after {
    content:"PHP";
}
.windos_message_content:not(.ck) pre:has(code.language-python):after {
    content:"Python";
}
.windos_message_content:not(.ck) pre:has(code.language-ruby):after {
    content:"Ruby";
}
.windos_message_content:not(.ck) pre:has(code.language-typescript):after {
    content:"TypeScript";
}
.windos_message_content:not(.ck) pre:has(code.language-php):after {
    content:"PHP";
}
.windos_message_content:not(.ck) pre:has(code.language-xml):after {
    content:"XML";
}
.windos_message_content:not(.ck) pre:has(code.language-html):after {
    content:"HTML";
}
.windos_message_content:not(.ck) pre:has(code.language-plaintext):after {
    content:"PlainText";
}
