* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --popup-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --primary-color-light-popup: #695CFE;
  --primary-text-light-popup: #FFF;
  --toggle-color: #DDD;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  
  background: var(--popup-color);
  color: var(--text-color);
  
  height: calc(100vh - 16px);
  position: relative;
  display: flex;
  
  font-size: 100%;
}
body.dark {
  --body-color: #18191a;
  --popup-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --primary-color-light-popup: #4D4F51;
  --primary-text-light-popup: #ccc;
  --toggle-color: #fff;
  --text-color: #ccc;
}

div.display_area {
  height: 100%;
  width: 100%;
  
  background: var(--body-color);
  
  display: flex;
}

#sidebar_area {
  background: var(--popup-color);
  max-width: 300px;
  
  flex-grow: 1;
  flex-basis: 250px;
  flex-shrink: 0;
  
  margin-right: 10px;
  padding-top: 15px;
}
#sidebar_area header {
    position: relative;
    padding: 0 8px;
    margin-bottom: 25px;
}
#sidebar_area header .image_text {
    display: flex;
    align-items: center;
}
#sidebar_area header .keyword_image {
    display: flex;
    align-items: center;
    min-width: 50px;
    border-radius: 6px;
}
#sidebar_area header .keyword_image img {
    width: 40px;
    border-radius: 6px;
}
#sidebar_area header .logo_text {
    display: flex;
    flex-direction: column;
}
#sidebar_area header .image_text .name {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 600;
}
#sidebar_area header .image_text .version {
    font-size: 10px;
    font-weight: 300;
}
#sidebar_area header .image_text .profession {
    margin-top: 2px;
    font-size: 12px;
    display: block;
}
#sidebar_area .settings_button {
    position: relative;
    padding: 0 8px;
    margin-top: 8px;
}

#sidebar_area button.title_botton {
    border-radius: 5px;
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    border: none;
    height: 50px;
    color: var(--text-color);
    padding-left: 15px;
}

#sidebar_area .button_text {
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 10px;
}

#sidebar_area button.title_botton:hover {
    background-color: var(--primary-color);
}

#sidebar_area button.title_botton:hover .keyword_icon,
#sidebar_area button.title_botton:hover .keyword_text{
  color: var(--popup-color);
}

body.dark #sidebar_area button.title_botton:hover .keyword_icon,
body.dark #sidebar_area button.title_botton:hover .keyword_text{
  color: var(--text-color);
}

div#center_area {
    display: flex;
    justify-content: center;
	overflow-y: scroll;
	position: relative;
}
div#center_area::-webkit-scrollbar{
	display: none;
}

#center_area p{
	line-height: 1.5em;
}
#center_area button {
    border-radius: 5px;
    border: none;
    background: var(--primary-color-light-popup);
    color: var(--text-color);
    /* font-weight: bold; */
    height: 30px;
    padding: 0 15px;
	
}
#center_area button:hover {
    /*font-weight: bold;*/
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 10px 0px;
}

div#center_area > div {
    max-width: 700px;
    width: 100%;
    margin: 0 14px;
}

.sync_message_container {
	height: 50px;
	display: none;
}
.sync_message_container.display {
	display: block;
}
.change_message {
    height: 50px;
    background: darkgreen;
    width: 100%;
    position: absolute;
    left: 0;
    line-height: 50px;
    padding: 0 25px;
}
.change_message span {
    font-weight: bold;
    color: white;
}

ul.switch_list,
ul.collapse-list {
    padding: 0px;
    list-style-type: none;
}
.switch_content{
    padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.bottom_line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--bottom-line-color);
}

li.switch_content .switch_toggle{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li.switch_content .switch_toggle .toggle_box{
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
  cursor: pointer;
}
li.switch_content .switch_toggle .toggle_box::before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--popup-color);
  transition: var(--tran-04);
}
li.switch_content.on .switch_toggle .toggle_box{
	background-color: forestgreen;
}
li.switch_content.on .switch_toggle .toggle_box::before{
	left: 20px;
	background-color: var(--toggle-color);
}

#rules_created_table {
    border-collapse: collapse;
    width: 100%;
}
#rules_created_table td {
    padding: 4px 10px;
}
#rules_created_table td:nth-child(2) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 140px;
}
#rules_created_table td:nth-child(3) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}
#rules_created_table tbody tr:first-child {
    padding: 0 10px 0 5px;
}
#rules_created_table tbody tr:first-child {
    background-color: var(--primary-color-light-popup);
}
#rules_created_table td:has(.rule-created-control){
    padding: 4px 1px;
}
#rules_created_table .rule-created-control{
    display: flex;
    justify-content: space-around;
}

#rules_created_table .switch-toggle{
	height: 100%;
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#rules_created_table .switch_toggle .toggle_box{
	position: relative;
	height: 22px;
	width: 40px;
	border-radius: 25px;
	background-color: var(--toggle-color);
	transition: var(--tran-05);
	cursor: pointer;
}
#rules_created_table .switch_toggle .toggle_box::before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--popup-color);
  transition: var(--tran-04);
}
#rules_created_table tr.on .switch_toggle .toggle_box{
	background-color: forestgreen;
}
#rules_created_table tr.on .switch_toggle .toggle_box::before{
	left: 20px;
	background-color: var(--toggle-color);
}

.rules_enable_confirm {
    margin-top: 10px;
    text-align: right;
}

.collapse_content {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.collapse_content .drop_down_header{
    padding-left: 40px;
}
.collapse_content .drop_down_control{
    position: absolute;
    top: 12px;
    left: 5px;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collapse_content .drop_down_control svg {
    border-radius: 12px;
    cursor: pointer;
}
.collapse_content.expand .drop_down_control svg{
	transform: rotate(180deg);
}

.svg_24button{
    display: flex;
    align-items: center;
}
.svg_24button > svg{
    border-radius: 12px;
    cursor: pointer;
}
.svg_24button > svg:hover{
  background: var(--popup-color);
}

.fold_content{
	display: none;
  
	width: 100%;
	padding: 0 15px;
}
.fold_content p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}
.fold_content .url_var_rule {
    width: 100%;
}
.fold_content > * {
    margin-top: 10px;
}
.collapse_content.expand .fold_content{
	display: block;
}

.rule_confirm{
	text-align: right;
}

.domainname_input {
    display: flex;
}
.domainname_input > *:not(:first-child) {
    margin-left: 10px;
}
.domainname_input input{
    border-radius: 5px;
    width: calc(80% - 70px);
    min-width: 260px;
}

.url_var_input_table input{
    border-radius: 5px;
}

.regex_input input{
	border-radius: 5px;
	width: calc(80% - 70px);
    min-width: 260px;
}

.import_backup_block,
.export_backup_block{
	display: flex;
	margin-bottom: 10px;
}
.import_backup_block button,
.export_backup_block button{
    display: flex;
    align-items: center;
    justify-content: space-around;
	margin-right: 10px;
}
#input_backupfile{
	width: 200px;
}
#input_backupfile::file-selector-button{
	border-radius: 5px;
    border: none;
    background: var(--primary-color-light-popup);
    color: var(--text-color);
    /* font-weight: bold; */
    height: 30px;
    padding: 0 15px;
}
#input_backupfile::file-selector-button:hover{
	box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 10px 0px;
}

.google_account_block{
	display: flex;
}
.google_account_block div{
	margin-left: 8px;
	font-size: 10px;
}
.google_account_block div p{
	margin: 0;
}
.google_account_block .account_connect_button{
	width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notebooklm_account_block{
	display: flex;
}
.notebooklm_account_block div{
	margin-left: 8px;
	font-size: 10px;
}
.notebooklm_account_block p{
	margin: 0;
}
.notebooklm_account_block .notebooklm_account_select {
	width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0px 8px;
	border: 1px solid #999;
	border-radius: 5px;
	background-color: var(--primary-color-light-popup);
	color: var(--text-color);
	font-size: 16px;
}
.notebooklm_account_block .notebooklm_account_select option {
	padding: 5px;
	background-color: var(--primary-color-light-popup);
	color: var(--text-color);
}
.notebooklm_account_block .notebooklm_account_select option:hover {
    background-color: var(--primary-color);
}
.notebooklm_account_block .notebooklm_connect_confirm{
	margin-left: 8px;
	
	width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#center_area {
  background: var(--primary-color);
  
  flex-grow: 1;
  flex-basis: 600px;
  flex-shrink: 0;
}
#center_area svg{
  fill: var(--text-color);
}
#center_area a svg{
  position: relative;
  top: 2px;
}
#center_area a{
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--primary-color-light-popup);
  border-radius: 3px;
  padding: 0 2px;
  display: inline-block;
}

#center_area #support_tab p {
    margin: 10px 0;
}

.unfinish {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4d4d4d73;
    left: 0;
    top: 0;
}
.unfinish_message {
    position: absolute;
    height: 150px;
    width: 400px;
    top: calc(50% - 75px);
    left: calc(50% - 200px);
    background-color: #E3F4FB;
    border-radius: 10px;
    text-align: center;
    color: #4B626B;
    font-size: 20px;
    align-content: center;
}