body{
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --popup-color: #FFF;
  --primary-color: #8685EF;
  --primary-color-light: #efefef;
  --primary-color-light-popup: #695CFE;
  --primary-text-light-popup: #FFF;
  --toggle-color: #a8b0da;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  
  background: var(--popup-color);
}
body.dark{
  --body-color: #18191a;
  --popup-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --primary-color-light-popup: #4D4F51;
  --primary-text-light-popup: #ccc;
  --toggle-color: #fff;
  --text-color: #ccc;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
    background-color: var(--primary-color-light-popup);
    color: var(--primary-text-light-popup);
}

#popup_bar {
  font-size: 15px;
  padding: 10px 14px;
  width: 320px;
  max-height: 606px;
  background: var(--popup-color);
}
#popup_bar > *{
  margin: 0px 0px 8px 0px;
}
#popup_bar > div{
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#popup_bar > :last-child{
  margin: 0px;
}

#popup_bar .keyword_text,
#popup_bar .keyword_icon{
  color: var(--text-color);
  transition: var(--tran-03);
  
  font-style: normal;
}
#popup_bar .keyword_icon{
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#popup_bar header{
  position: relative;
}
#popup_bar header .image_text{
  display: flex;
  align-items: center;
}
#popup_bar header .logo_text{
  display: flex;
  flex-direction: column;
}
#popup_bar header .image_text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
#popup_bar header .image_text .profession{
  margin-top: 2px;
  font-size: 12px;
  display: block;
}
#popup_bar header .keyword_image {
  display: flex;
  align-items: center;
  
  min-width: 50px;
  border-radius: 6px;
}
#popup_bar header .keyword_image img{
  width: 40px;
  border-radius: 6px;
}

#popup_bar footer{
  display: flex;
  position: relative;
  flex-direction: row-reverse;
}
#popup_bar footer svg{
  fill: var(--text-color);
  margin: 0px 5px;
}

#popup_bar .switch{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
}
#popup_bar .switch .switch_icon{
  height: 50px;
  width: 60px;
}
#popup_bar .switch .switch_icon i{
  position: absolute;
}
#popup_bar .switch .switch_text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
}
#popup_bar .switch .switch_toggle{
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer
}
#popup_bar .switch.hidden .switch_toggle{
  display: none;
}
#popup_bar .switch .switch_toggle .toggle_box{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}
#popup_bar .switch .switch_toggle .toggle_box::before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--popup-color);
  transition: var(--tran-04);
}
#popup_bar .switch.on .switch_toggle .toggle_box::before{
  left: 20px;
}

#popup_bar .button{
  border-radius: 6px;
  transition: var(--tran-03);
}
#popup_bar .button button.title_botton{
  list-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  /*height: 100%;*/
  width: 100%;
  text-decoration: none;
  border: none;
  
  height: 50px;
}
#popup_bar .button .button_text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
}
#popup_bar .button:hover{
  background-color: var(--primary-color);
}
#popup_bar .button:hover .keyword_icon,
#popup_bar .button:hover .keyword_text{
  color: var(--popup-color);
}
body.dark #popup_bar .button:hover .keyword_icon,
body.dark #popup_bar .button:hover .keyword_text{
  color: var(--text-color);
}

#popup_bar div.button{
  transition: height 0.8s margin ease-in-out; /* 過渡效果，0.5 秒內逐漸改變高度 */
  display: flex;
  flex-direction: column;
  
  opacity: 1;
}
#popup_bar div.button *{
  transition: opacity 0.4s ease-in-out .2s;
}
#popup_bar div.button.folded:not(.folded_target){
  height: 0;
  margin: 0;
}
#popup_bar div.button.folded:not(.folded_target) > *{
  transition: opacity 0.4s ease-in-out;
}
#popup_bar div.button.folded:not(.folded_target) > *{
  opacity: 0;
}
#popup_bar div.button.folded.folded_target{
  height: 230px;
  background-color: var(--primary-color);
  margin-bottom: 0;
  position: relative;
}
#popup_bar div.button.folded.folded_target *{
  color: var(--primary-text-light-popup);
}
#popup_bar div.button.folded.folded_target button.title_botton{
  height: 50px;
}

#start_up .icon_show{
  opacity: 0;
}
#start_up.on .icon_show{
  opacity: 1;
}
#start_up.on .icon_unshow{
  opacity: 0;
}

#start_up .icon_show:before {
  content: "🟢";
}
#start_up .icon_unshow:before {
  content: "🔴";
}

#popup_bar div.button #note_mode{
	background-color: var(--popup-color);
	color: var(--text-color);
	
	top: 170px;
    left: 45px;
    position: absolute;
}
#popup_bar div.button.folded_target #newkeyword_input{
	position: absolute;
	top: 55px;
	left: 20px;
	border-radius: 5px;
	background: var(--popup-color);
	color: var(--text-color);
	width: 255px;
	height: 30px;
	border: none;
	padding: 0 8px;
	font-weight: bold;
}
#popup_bar div.button.folded_target #new_keyword_submit{
	height: 25px;
    width: 50px;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 10px;
    left: 225px;
    background: var(--popup-color);
	padding: 3px;
}
#popup_bar div.button.folded_target #new_keyword_submit div{
  background: var(--popup-color);
  height: 100%;
  width: 100%;
  border-radius: 2px;
  line-height: 19px;
  font-weight: bold;
}
#popup_bar div.button.folded_target #new_keyword_submit div:hover{
  background: var(--primary-color);
}
body:not(.dark) #popup_bar div.button.folded_target #new_keyword_submit div{
  color: var(--primary-color);
}
body:not(.dark) #popup_bar div.button.folded_target #new_keyword_submit div:hover{
  color: var(--popup-color);
}

#popup_bar div.button:not(.folded_target) #note_mode,
#popup_bar div.button:not(.folded_target) #newkeyword_input,
#popup_bar div.button:not(.folded_target) #note_content_editor,
#popup_bar div.button:not(.folded_target) #new_keyword_submit{
	height: 0;
	opacity: 0;
	border: none;
	
	transition: height 0s;
}
